<div class="comment">
  <div class="commenter_info">
    <div class="commenter_image_thumb">@@@</div>
    <span class="commenter_name"><%= comment.user.name %></span>
  </div>
  <div class="comment_content_container" id="<%= 'comment_' + comment.id.to_s + '_container' %>">
    <div class="comment_content"><%= comment.content %></div>
    <% if comment.has_sub_comments? %>
        <% comment.sub_comments.each do |sub_comment| %>
            <%= render 'comment/subcommentview', sub_comment: sub_comment %>
        <% end %>
    <% end %>
  </div>
  <div class="comment_action">
    <ul>
      <li id="<%= 'comment_' + comment.id.to_s + '_action' %>">Like</li>
      <li>Reply</li>
    </ul>
    <div class="reply_comment">
      <%= form_tag add_nested_comment_path, remote: true do %>
          <%= label_tag :content %>
          <%= text_field_tag :content %>
          <%= hidden_field_tag :comment_parent, comment.id %>
          <%= hidden_field_tag :comment_container_id, 'comment_' + comment.id.to_s + '_container' %>
          <%= submit_tag 'Comment' %>
      <% end %>
    </div>
  </div>
</div>
