<!--Partial should be provided with "post"-->
<div id="<%= "post_" + post.id.to_s %>" class="post">
  <div class="post_header">
    <span class="author_name"><%= post.user.name %></span>
    <span class="author_name"><%= post.user.username %></span>
  </div>
  <div class="post_content">
    <% if post.post_type == Post::IMAGEPOST || post.post_type == Post::VIDEOPOST  %>
    <div class="post_media">

    </div>
    <% end %>
    <div class="post_text">
      <p><%= post.content %></p>
    </div>
  </div>
  <div class="post_actions">
    <ul>
      <li>
        <%= form_tag reaction_path(post_id = post.id,reaction_type = Reaction::LIKE ),remote:true do %>
            <%= submit_tag "LIKE",:id => 'post_' + post.id.to_s + '_' + Reaction::LIKE.to_s ,style: if post.liked?(current_user.id) then 'background-color:red' else 'background-color:blue' end%>
        <% end %>
      </li>
      <li>
        <%= form_tag reaction_path(post_id = post.id,reaction_type = Reaction::ANGRY),remote:true do %>
            <%= submit_tag "ANGRY",:id => 'post_' + post.id.to_s + '_' + Reaction::ANGRY.to_s,style:if post.angry?(current_user.id) then 'background-color:red' else 'background-color:blue' end%>
        <% end %>
      </li>
      <li>
        <%= form_tag reaction_path(post_id = post.id,reaction_type = Reaction::SAD),remote:true do %>
            <%= submit_tag "SAD", :id => 'post_' + post.id.to_s + '_' + Reaction::SAD.to_s ,style:if post.sad?(current_user.id) then 'background-color:red' else 'background-color:blue' end%>
        <% end %>
      </li>
      <li>
        <%= form_tag reaction_path(post_id = post.id,reaction_type = Reaction::HAPPY),remote:true do %>
            <%= submit_tag "HAPPY", :id => 'post_' + post.id.to_s + '_' + Reaction::HAPPY.to_s,style: if post.happy?(current_user.id) then 'background-color:red' else 'background-color:blue' end%>
        <% end %>
      </li>
      <% if post.user.id == current_user.id%>
      <li><%= link_to "DELETE",post_remove_path(id: post.id),method: :delete,remote: true%></li>
      <% end %>
      <li>Comment</li>
      <li>Share</li>
    </ul>
  </div>
</div>